#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
}

.read-the-docs {
  color: #888;
}

.input-container{
  position: relative;
  width: 80vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 1em;
  row-gap: 1em;
}

.rules-container{
  display: grid;
  grid-auto-flow: column; 
}

.guess-container{
  min-width: 80%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.guess-input{
  width:80%;
  color: #000;
}

@media only screen and (max-width: 1600px) {
  .table-container {
    /* background-color: blueviolet; */
    overflow-x: scroll;
    max-width: 100vw;
    /* width: 100%; */
    /* display: block; */
  }
}

.guesses-table{
  width: 100%;
  min-width: 1600px;
  table-layout: fixed;
}

.result-right{
  background-color: rgba(35, 184, 45, 0.5);
}

.result-wrong{
  background-color: rgba(184, 35, 35, 0.5);
}

.result-partial{
  background-color: rgba(236, 239, 46, 0.5);
}

.guesses-table td{
  padding-top: 1vh;
  padding-bottom: 1vh;
  min-width: 150px;  
}

.threslogo {
  width: 2em;
  -webkit-filter: drop-shadow(0px 0px 2px #000);
  filter: drop-shadow(0px 0px 2px #000);
}

.win-container {
  display: flex;
  column-gap: 1vw;
}

.suggestions-container{
  position:absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: left;
  border: 1px solid #ccc;
  max-height: 5em;
  overflow-y: auto;
}
/* .guesses-table td{
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: rgba(255, 0, 0, 0.5);
  background-image: url(https://duckduckgo.com/assets/logo_header.v109.svg) ;
} */